# Root credentials (used only on first initialization)
MONGO_ROOT_USERNAME=
MONGO_ROOT_PASSWORD=

# Default database (created on init)
MONGO_DB_NAME=

# App credentials (used by backend - NOT root)
MONGO_APP_USERNAME=
MONGO_APP_PASSWORD=

# App connection string (recommended)
MONGO_URI=